packages/suiton_base_util/themes/base_theme/assets/concept.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="./css/style.min.css">
</head>
<body class="lower" id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li><a href="">Concept</a></li>
          <li class="has_child"><a href="">Products</a>
            <ul class="child">
              <li><a href="">Antiques</a></li>
              <li><a href="">Furniture</a></li>
              <li><a href="">Jewelry</a></li>
            </ul>
          </li>
          <li><a href="">News</a></li>
          <li><a href="">Access</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">Menu</span><span class="text--active">Close</span></a></div>
    <div class="header_wrapper">
      <header class="header" id="header">
        <h1 class="logo"><span>かづらせい</span></h1>
      </header>
      <nav class="gnav">
        <ul>
          <li><a href="">Concept</a></li>
          <li class="has_child"><a href="">Products</a>
            <ul class="child">
              <li><a href="">Antiques</a></li>
              <li><a href="">Furniture</a></li>
              <li><a href="">Jewelry</a></li>
            </ul>
          </li>
          <li><a href="">News</a></li>
          <li><a href="">Access</a></li>
        </ul>
      </nav>
    </div>
    <div class="lower_mv" style="background-image:url(./images/concept_mv_img.png);">
      <h1 class="ttl">Concept</h1>
    </div>
    <div class="layout--2col--ttl_and_text">
      <div class="col">
        <h3 class="ttl ttl--underline">ごあいさつ</h3>
      </div>
      <div class="col">
        <p>
          かづらせい寺町店は、時代やジャンル、アジアやヨーロッパなど文化の枠を越えた品々が集う、骨董品店です。<br>
          <br>
          自ら世界中を巡り、現地にて直接買い付けたコレクションが店内を彩ります。<br>
          <br>
          今では作ることのできない、時代のアルチザン達が残したヘリテージの美術品、そして時を経て美しく昇華した骨董の数々。<br>
          <br>
          すべての商品は、独自の視点と感性に基づき『趣があり、美しく、ユニークで、愛すべき』もののみをセレクト。<br>
          <br>
          いにしえの名品に新たな息吹を吹き込むべく、現代のライフスタイルを豊かにする上質なコーディネートのご提案をしております。<br>
          <br>
          かづらせい寺町店で、一期一会の出逢いお愉しみ頂ければ幸いに存じます。
        </p>
        <p class="bold fs18 font--yu_mincho mt40">五代目当主　霜降 茂夫</p>
      </div>
    </div>
    <p class="mt80"><img class="fullwidth" src="./images/concept_img_01.png" alt=""></p>
    <div class="layout--2col--ttl_and_text">
      <div class="col">
        <h3 class="ttl ttl--underline">Message</h3>
      </div>
      <div class="col">
        <p>
          Since its foundation in 1865, Kazurasei has been offering classical hair goods for women, such as<br>
          camellia oil and boxwood combs, Tsugegushi, both for keeping the hair beauty, and ornamental hair accessories, Kanzashi, for adding to the charm of the hair in finely up do.<br>
          Through changing times, those products fusing traditional elegance and modernity have been created by our unique sense and skills.
        </p>
        <p class="bold fs18 font--yu_mincho mt40">Shigeo Shimohuri</p>
      </div>
    </div>
    <div class="link--fullwidth link" style="background-image:url(./images/concept_img_02.png);">
      <div class="inner"><a class="btn--basic" href="#">商品を見る</a></div>
    </div>
    <section id="shop">
      <h2 class="ttl--underline--center">Shop</h2>
      <div id="map"></div>
      <div class="footer_info">
        <div class="inner">
          <div class="table_wrap">
            <div class="table_wrap__row">
              <h4 class="th">所在地</h4>
              <div class="td">
                <p>〒604-0995京都府京都市中京区下御霊前町638-1</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">営業時間</h4>
              <div class="td">
                <p>10:30～18:30（水曜定休、年末年始のみ休業）</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">交通手段</h4>
              <div class="td">
                <p>・京都市バス『河原町丸太町』下車、徒歩3分<br>・京阪電車『神宮丸太町駅』下車、徒歩5分<br>・地下鉄烏丸線『丸太町駅』下車、徒歩8分</p>
              </div>
            </div>
          </div>
        </div>
        <div class="inner">
          <div class="table_wrap">
            <div class="table_wrap__row">
              <h4 class="th">電話</h4>
              <div class="td">
                <p>075-253-2525</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">Fax</h4>
              <div class="td">
                <p>075-253-2552</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">E-mail</h4>
              <div class="td">
                <p><a href="">お問い合わせフォーム</a>よりご連絡ください。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="footer">
      <div id="totop"><a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i></a></div>
      <nav class="spnavi sp">
        <ul>
          <li><a href="">Concept</a></li>
          <li class="has_child"><a href="">Products</a>
            <ul class="child">
              <li><a href="">Antiques</a></li>
              <li><a href="">Furniture</a></li>
              <li><a href="">Jewelry</a></li>
            </ul>
          </li>
          <li><a href="">News</a></li>
          <li><a href="">Access</a></li>
        </ul>
      </nav>
      <div class="inner">
        <p><small>Copyright (C) KAZURASEI. All rights reserved.</small></p>
      </div>
    </div>
    <div id="responsive_flg"></div>
  </div>
  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjHB46uaaZjBVMytsRjTF5nboc6j3yMNY"></script>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>

packages/suiton_base_util/themes/base_theme/assets/pug/concept.jade
extends layout.pug
block slug
	- slug = 'lower'
block contents
	.lower_mv(style=`background-image:url(${assets_prefix}images/concept_mv_img.png);`)
		h1.ttl Concept
	.layout--2col--ttl_and_text
		.col
			h3.ttl.ttl--underline ごあいさつ
		.col
			p
				| かづらせい寺町店は、時代やジャンル、アジアやヨーロッパなど文化の枠を越えた品々が集う、骨董品店です。<br>
				| <br>
				| 自ら世界中を巡り、現地にて直接買い付けたコレクションが店内を彩ります。<br>
				| <br>
				| 今では作ることのできない、時代のアルチザン達が残したヘリテージの美術品、そして時を経て美しく昇華した骨董の数々。<br>
				| <br>
				| すべての商品は、独自の視点と感性に基づき『趣があり、美しく、ユニークで、愛すべき』もののみをセレクト。<br>
				| <br>
				| いにしえの名品に新たな息吹を吹き込むべく、現代のライフスタイルを豊かにする上質なコーディネートのご提案をしております。<br>
				| <br>
				| かづらせい寺町店で、一期一会の出逢いお愉しみ頂ければ幸いに存じます。
			p.bold.fs18.font--yu_mincho.mt40 五代目当主　霜降 茂夫
	p.mt80
		img(src=`${assets_prefix}images/concept_img_01.png`, alt="").fullwidth
	.layout--2col--ttl_and_text
		.col
			h3.ttl.ttl--underline Message
		.col
			p
				| Since its foundation in 1865, Kazurasei has been offering classical hair goods for women, such as<br>
				| camellia oil and boxwood combs, Tsugegushi, both for keeping the hair beauty, and ornamental hair accessories, Kanzashi, for adding to the charm of the hair in finely up do.<br>
				| Through changing times, those products fusing traditional elegance and modernity have been created by our unique sense and skills.
			p.bold.fs18.font--yu_mincho.mt40 Shigeo Shimohuri
	.link--fullwidth.link(style=`background-image:url(${assets_prefix}images/concept_img_02.png);`)
		.inner
			a(href="#").btn--basic 商品を見る
