packages/suiton_base_util/themes/base_theme/assets/index.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="./css/style.min.css">
</head>
<body class="home" id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li><a href="">Concept</a></li>
          <li class="has_child"><a href="">Products</a>
            <ul class="child">
              <li><a href="">Antiques</a></li>
              <li><a href="">Furniture</a></li>
              <li><a href="">Jewelry</a></li>
            </ul>
          </li>
          <li><a href="">News</a></li>
          <li><a href="">Access</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">Menu</span><span class="text--active">Close</span></a></div>
    <div class="header_wrapper">
      <header class="header" id="header">
        <h1 class="logo"><span>かづらせい</span></h1>
      </header>
      <nav class="gnav">
        <ul>
          <li><a href="">Concept</a></li>
          <li class="has_child"><a href="">Products</a>
            <ul class="child">
              <li><a href="">Antiques</a></li>
              <li><a href="">Furniture</a></li>
              <li><a href="">Jewelry</a></li>
            </ul>
          </li>
          <li><a href="">News</a></li>
          <li><a href="">Access</a></li>
        </ul>
      </nav>
    </div>
    <div class="slide"><img class="slide_text" src="./images/top_mv_text_00f.png" alt="">
      <ul>
        <li>
          <div class="half half1" style="background-image:url(./images/top_mv_img_01.png);"><img src="./images/top_mv_img_01.png" alt=""></div>
          <div class="half half2" style="background-image:url(./images/top_mv_img_02.png);"><img src="./images/top_mv_img_02.png" alt=""></div>
        </li>
        <li>
          <div class="half half1" style="background-image:url(./images/top_mv_img_01.png);"><img src="./images/top_mv_img_01.png" alt=""></div>
          <div class="half half2" style="background-image:url(./images/top_mv_img_02.png);"><img src="./images/top_mv_img_02.png" alt=""></div>
        </li>
        <li>
          <div class="half half1" style="background-image:url(./images/top_mv_img_01.png);"><img src="./images/top_mv_img_01.png" alt=""></div>
          <div class="half half2" style="background-image:url(./images/top_mv_img_02.png);"><img src="./images/top_mv_img_02.png" alt=""></div>
        </li>
        <li>
          <div class="half half1" style="background-image:url(./images/top_mv_img_01.png);"><img src="./images/top_mv_img_01.png" alt=""></div>
          <div class="half half2" style="background-image:url(./images/top_mv_img_02.png);"><img src="./images/top_mv_img_02.png" alt=""></div>
        </li>
      </ul>
    </div>
    <section id="top__about">
      <div class="layout--2col--imgLeft">
        <div class="col">
          <div class="inner">
            <h2 class="ttl ttl--underline">店内を散歩しながら<br>お気に入りを見つける</h2>
            <div class="txt">
              <p>京都御所に近い閑静なエリア。<br></p>
              骨董店が軒を連ねる寺町通に佇むかづら清寺町店は<br>
              2000年にオープンしました。<br><br>
              心地よく光の差し込むConcrete打ちっぱなしの店内を、<br>
              かづら清店主ならではの視点で選びぬかれた品々が彩ります。
            </div>
          </div>
        </div>
        <div class="col img" style="background-image:url(./images/top_img_01.png);">
          <div class="inner"><img src="./images/top_img_01.png" alt=""></div>
        </div>
      </div>
      <div class="layout--2col--imgRight">
        <div class="col img" style="background-image:url(./images/top_img_02.png);">
          <div class="inner"><img src="./images/top_img_02.png" alt=""></div>
        </div>
        <div class="col">
          <div class="inner">
            <div class="txt">
              <p>洋の東西を問わず幅広く集められたアンティークの数々は、<br></p>
              中国・清朝時代の家具からアジア各地の心和む小物類、<br>
              更には華やかなヨーロッパの美術工芸品まで、<br>
              組み合わせの妙をご提案いたします。<br>
              <br>
              心の赴くままに店内の散歩をお楽しみ頂き、<br>
              新しい出会いを感じて頂けましたらと思います。<br>
            </div>
          </div>
        </div>
      </div>
      <div class="link">
        <div class="inner"><a class="btn--basic" href="#">かづらせい 寺町店 について</a></div>
      </div>
    </section>
    <section id="news">
      <h2 class="ttl--underline--center">News</h2>
      <div class="layout--4col">
        <div class="col"><a href="#">
            <div class="img" style="background-image:url(./images/top_img_04.png);"></div>
            <p class="date">2015/11/09</p>
            <h3 class="ttl">デコの灯りと花のうつわ　開催のお知らせ</h3></a></div>
        <div class="col"><a href="#">
            <div class="img" style="background-image:url(./images/top_img_05.png);"></div>
            <p class="date">2015/11/09</p>
            <h3 class="ttl">新商品入荷のご案内</h3></a></div>
        <div class="col"><a href="#">
            <div class="img" style="background-image:url(./images/top_img_06.png);"></div>
            <p class="date">2015/11/09</p>
            <h3 class="ttl">新商品入荷のご案内</h3></a></div>
        <div class="col"><a href="#">
            <div class="img" style="background-image:url(./images/top_img_07.png);"></div>
            <p class="date">2015/11/09</p>
            <h3 class="ttl">新商品入荷のご案内</h3></a></div>
      </div><a class="btn--basic--black" href="#">ニュース一覧を見る</a>
    </section>
    <section id="shop">
      <h2 class="ttl--underline--center">Shop</h2>
      <div id="map"></div>
      <div class="footer_info">
        <div class="inner">
          <div class="table_wrap">
            <div class="table_wrap__row">
              <h4 class="th">所在地</h4>
              <div class="td">
                <p>〒604-0995京都府京都市中京区下御霊前町638-1</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">営業時間</h4>
              <div class="td">
                <p>10:30～18:30（水曜定休、年末年始のみ休業）</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">交通手段</h4>
              <div class="td">
                <p>・京都市バス『河原町丸太町』下車、徒歩3分<br>・京阪電車『神宮丸太町駅』下車、徒歩5分<br>・地下鉄烏丸線『丸太町駅』下車、徒歩8分</p>
              </div>
            </div>
          </div>
        </div>
        <div class="inner">
          <div class="table_wrap">
            <div class="table_wrap__row">
              <h4 class="th">電話</h4>
              <div class="td">
                <p>075-253-2525</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">Fax</h4>
              <div class="td">
                <p>075-253-2552</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">E-mail</h4>
              <div class="td">
                <p><a href="">お問い合わせフォーム</a>よりご連絡ください。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="footer">
      <div id="totop"><a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i></a></div>
      <nav class="spnavi sp">
        <ul>
          <li><a href="">Concept</a></li>
          <li class="has_child"><a href="">Products</a>
            <ul class="child">
              <li><a href="">Antiques</a></li>
              <li><a href="">Furniture</a></li>
              <li><a href="">Jewelry</a></li>
            </ul>
          </li>
          <li><a href="">News</a></li>
          <li><a href="">Access</a></li>
        </ul>
      </nav>
      <div class="inner">
        <p><small>Copyright (C) KAZURASEI. All rights reserved.</small></p>
      </div>
    </div>
    <div id="responsive_flg"></div>
  </div>
  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjHB46uaaZjBVMytsRjTF5nboc6j3yMNY"></script>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>

packages/suiton_base_util/themes/base_theme/assets/pug/index.jade
extends layout.pug
block slug
	- slug = 'home'
block contents
	.slide
		img(src=`${assets_prefix}images/top_mv_text_00f.png`, alt="").slide_text
		ul
			li
				.half.half1(style=`background-image:url(${assets_prefix}images/top_mv_img_01.png);`)
					img(src=`${assets_prefix}images/top_mv_img_01.png`, alt="")
				.half.half2(style=`background-image:url(${assets_prefix}images/top_mv_img_02.png);`)
					img(src=`${assets_prefix}images/top_mv_img_02.png`, alt="")
			li
				.half.half1(style=`background-image:url(${assets_prefix}images/top_mv_img_01.png);`)
					img(src=`${assets_prefix}images/top_mv_img_01.png`, alt="")
				.half.half2(style=`background-image:url(${assets_prefix}images/top_mv_img_02.png);`)
					img(src=`${assets_prefix}images/top_mv_img_02.png`, alt="")
			li
				.half.half1(style=`background-image:url(${assets_prefix}images/top_mv_img_01.png);`)
					img(src=`${assets_prefix}images/top_mv_img_01.png`, alt="")
				.half.half2(style=`background-image:url(${assets_prefix}images/top_mv_img_02.png);`)
					img(src=`${assets_prefix}images/top_mv_img_02.png`, alt="")
			li
				.half.half1(style=`background-image:url(${assets_prefix}images/top_mv_img_01.png);`)
					img(src=`${assets_prefix}images/top_mv_img_01.png`, alt="")
				.half.half2(style=`background-image:url(${assets_prefix}images/top_mv_img_02.png);`)
					img(src=`${assets_prefix}images/top_mv_img_02.png`, alt="")
	section#top__about
		.layout--2col--imgLeft
			.col
				.inner
					h2.ttl.ttl--underline 店内を散歩しながら<br>お気に入りを見つける
					.txt
						p 京都御所に近い閑静なエリア。<br>
						| 骨董店が軒を連ねる寺町通に佇むかづら清寺町店は<br>
						| 2000年にオープンしました。<br><br>
						| 心地よく光の差し込むConcrete打ちっぱなしの店内を、<br>
						| かづら清店主ならではの視点で選びぬかれた品々が彩ります。
			.col(style=`background-image:url(${assets_prefix}images/top_img_01.png);`).img
				.inner
					img(src=`${assets_prefix}images/top_img_01.png`, alt="")
		.layout--2col--imgRight
			.col(style=`background-image:url(${assets_prefix}images/top_img_02.png);`).img
				.inner
					img(src=`${assets_prefix}images/top_img_02.png`, alt="")
			.col
				.inner
					.txt
						p 洋の東西を問わず幅広く集められたアンティークの数々は、<br>
						| 中国・清朝時代の家具からアジア各地の心和む小物類、<br>
						| 更には華やかなヨーロッパの美術工芸品まで、<br>
						| 組み合わせの妙をご提案いたします。<br>
						| <br>
						| 心の赴くままに店内の散歩をお楽しみ頂き、<br>
						| 新しい出会いを感じて頂けましたらと思います。<br>
		.link
			.inner
				a(href="#").btn--basic かづらせい 寺町店 について
	section#news
		h2.ttl--underline--center News
		.layout--4col
			.col
				a(href="#")
					.img(style=`background-image:url(${assets_prefix}images/top_img_04.png);`)
					p.date 2015/11/09
					h3.ttl デコの灯りと花のうつわ　開催のお知らせ
			.col
				a(href="#")
					.img(style=`background-image:url(${assets_prefix}images/top_img_05.png);`)
					p.date 2015/11/09
					h3.ttl 新商品入荷のご案内
			.col
				a(href="#")
					.img(style=`background-image:url(${assets_prefix}images/top_img_06.png);`)
					p.date 2015/11/09
					h3.ttl 新商品入荷のご案内
			.col
				a(href="#")
					.img(style=`background-image:url(${assets_prefix}images/top_img_07.png);`)
					p.date 2015/11/09
					h3.ttl 新商品入荷のご案内
		a(href="#").btn--basic--black ニュース一覧を見る
