packages/suiton_base_util/themes/base_theme/assets/pug/layout.jade
-
	var ogp = {
		'title':'test',
		'description':'test',
		'url':'test',
		'image':'test',
		'siteName':'test',
		'lang':'test',
		'fbid':'test',
		'fbid':'test'
	}
-
	var meta = {
		title:'ページタイトル',
		desc:'ディスクリプション',
		key:'キーワード'
	}
include _inc_mixins
include _inc_conditional
block slug
	- var slug = ''
	- var is_contact = false
head
	block meta_data
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta#viewport(content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1', name='viewport')
		+base_meta(meta)
		+ogp(ogp)
	block css
		include _inc_css
body#top(class=slug)
	#wrap
		nav#spnavi.spnavi.sp
			#scroller
				include _inc_gnav
		.btn_sp_navi_wrap
			a.btn_sp_navi.nosc.nosms(href='#sp')
				span.bar
				span.bar
				span.bar
				span.text Menu
				span.text--active Close
		block header
			.header_wrapper
				header#header.header
					h1.logo
						span かづらせい
				nav.gnav
					include _inc_gnav
		block contents
			h2.ttl--underline 店内を散歩しながら<br>お気に入りを見つける
			.div(style="background:#000;")
				a(href="").btn--basic かづらせい 寺町店 について
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		block footer
			section#shop
				h2.ttl--underline--center Shop
				#map
				.footer_info
					.inner
						.table_wrap
							.table_wrap__row
								h4.th 所在地
								.td
									p 〒604-0995京都府京都市中京区下御霊前町638-1
							.table_wrap__row
								h4.th 営業時間
								.td
									p 10:30～18:30（水曜定休、年末年始のみ休業）
							.table_wrap__row
								h4.th 交通手段
								.td
									p ・京都市バス『河原町丸太町』下車、徒歩3分<br>・京阪電車『神宮丸太町駅』下車、徒歩5分<br>・地下鉄烏丸線『丸太町駅』下車、徒歩8分
					.inner
						.table_wrap
							.table_wrap__row
								h4.th 電話
								.td
									p 075-253-2525
							.table_wrap__row
								h4.th Fax
								.td
									p 075-253-2552
							.table_wrap__row
								h4.th E-mail
								.td
									p
										a(href="") お問い合わせフォーム
										| よりご連絡ください。

			#footer
				#totop
					a(href="#top")
						i.fa.fa-angle-up(aria-hidden='true')
				nav.spnavi.sp
					include _inc_gnav
				.inner
					p
						small Copyright (C) KAZURASEI. All rights reserved.
		block flg
			#responsive_flg
	block scripts
		include _inc_scripts

</html>

packages/suiton_base_util/themes/base_theme/assets/layout.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="./css/style.min.css">
</head>
<body id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li><a href="">Concept</a></li>
          <li class="has_child"><a href="">Products</a>
            <ul class="child">
              <li><a href="">Antiques</a></li>
              <li><a href="">Furniture</a></li>
              <li><a href="">Jewelry</a></li>
            </ul>
          </li>
          <li><a href="">News</a></li>
          <li><a href="">Access</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">Menu</span><span class="text--active">Close</span></a></div>
    <div class="header_wrapper">
      <header class="header" id="header">
        <h1 class="logo"><span>かづらせい</span></h1>
      </header>
      <nav class="gnav">
        <ul>
          <li><a href="">Concept</a></li>
          <li class="has_child"><a href="">Products</a>
            <ul class="child">
              <li><a href="">Antiques</a></li>
              <li><a href="">Furniture</a></li>
              <li><a href="">Jewelry</a></li>
            </ul>
          </li>
          <li><a href="">News</a></li>
          <li><a href="">Access</a></li>
        </ul>
      </nav>
    </div>
    <h2 class="ttl--underline">店内を散歩しながら<br>お気に入りを見つける</h2>
    <div class="div" style="background:#000;"><a class="btn--basic" href="">かづらせい 寺町店 について</a></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <section id="shop">
      <h2 class="ttl--underline--center">Shop</h2>
      <div id="map"></div>
      <div class="footer_info">
        <div class="inner">
          <div class="table_wrap">
            <div class="table_wrap__row">
              <h4 class="th">所在地</h4>
              <div class="td">
                <p>〒604-0995京都府京都市中京区下御霊前町638-1</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">営業時間</h4>
              <div class="td">
                <p>10:30～18:30（水曜定休、年末年始のみ休業）</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">交通手段</h4>
              <div class="td">
                <p>・京都市バス『河原町丸太町』下車、徒歩3分<br>・京阪電車『神宮丸太町駅』下車、徒歩5分<br>・地下鉄烏丸線『丸太町駅』下車、徒歩8分</p>
              </div>
            </div>
          </div>
        </div>
        <div class="inner">
          <div class="table_wrap">
            <div class="table_wrap__row">
              <h4 class="th">電話</h4>
              <div class="td">
                <p>075-253-2525</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">Fax</h4>
              <div class="td">
                <p>075-253-2552</p>
              </div>
            </div>
            <div class="table_wrap__row">
              <h4 class="th">E-mail</h4>
              <div class="td">
                <p><a href="">お問い合わせフォーム</a>よりご連絡ください。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="footer">
      <div id="totop"><a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i></a></div>
      <nav class="spnavi sp">
        <ul>
          <li><a href="">Concept</a></li>
          <li class="has_child"><a href="">Products</a>
            <ul class="child">
              <li><a href="">Antiques</a></li>
              <li><a href="">Furniture</a></li>
              <li><a href="">Jewelry</a></li>
            </ul>
          </li>
          <li><a href="">News</a></li>
          <li><a href="">Access</a></li>
        </ul>
      </nav>
      <div class="inner">
        <p><small>Copyright (C) KAZURASEI. All rights reserved.</small></p>
      </div>
    </div>
    <div id="responsive_flg"></div>
  </div>
  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjHB46uaaZjBVMytsRjTF5nboc6j3yMNY"></script>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>
